body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  
  /* HTML Template*/
  background: radial-gradient(
    circle at 30% 30%,
    #1a1a2e 10%,
    #16213e 30%,
    #092241 50%,
    #2a3a43 70%,
    #00293f 90%
  );
  background-attachment: fixed;
  height: 100vh;
}
.fondo-titulo{
  background: linear-gradient(    #000000,    #ffffff00     );
}
  header {
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .logo{
    height: 3rem;
  }
  .logo2{
    height: 5rem;
  }
  .tituloIkea{
    position:absolute;
    width: 100%;
  }
  .x{
    margin-left: 1rem;

  }
  nav {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  .controls {
    text-align: center;
    padding: 2rem;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .controls-flex{
    width: 30%;
    padding: 0%;
  }
  select{
    width: 25rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0rem;
    margin: 02em 0rem;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
    text-align: center;
  }
 
/* CSS */
.estiloBoton {
  margin: 1rem 1rem;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
	font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.estiloBoton:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.estiloBoton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.estiloBoton:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.botonFichar{
  width: 40%;

}
.botonSalir{
  width: 40%;

}
.botonPDescanso{
  width: 40%;

}
.botonFDescanso{
  width: 40%;
}
.inicio-sesion{
  color: white;
}
  .columna-horas, .columna-dia {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .etiqueta-dia {
    margin-bottom: 1rem;
    background-color: #0057ad;
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
  }
  
  .contenedor-horas {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .hora {
    height: 60px;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
    border-bottom: 1px solid #ddd;
  }

  /* Bloque de trabajo */
  .bloque-trabajo {
    position: absolute;
    left: 5%;
    width: 90%;
    background-color: #90ee90;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  

  .barra-tabla {
    display: grid;
    grid-template-columns: 80px repeat(7, 1fr);
    gap: 10px;
    padding: 0px 20px 20px 20px;
    height: auto;
  }
  
  .contenedor-horas {
    height: 1440px; /* 60px * 24 horas */
    display: flex;
    flex-direction: column;
  }
  
  .hora {
    height: 60px;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  .contenedor-barras {
    position: relative;
    height: 1440px; /* Igual que horas */
    background-color: #e3e3e3;
    border-left: 1px solid #0057ad;
  }
  
  .bloque-trabajo {
    position: absolute;
    left: 5%;
    width: 90%;
    background-color: #90ee90;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: height 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  .bloque-descanso {
    background-color: rgba(30, 144, 255, 0.7); /* Azul semitransparente */
    width: 100%;
    border-radius: 4px;
  }
  